aiomisc
appdirs
audioread
certifi
cffi
charset-normalizer
colorama
colorlog
ConfigArgParse
cycler
decorator
fonttools
idna
joblib
kiwisolver
librosa
llvmlite
logging-journald
matplotlib
numba
numpy
packaging
Pillow
pooch
pycparser
pydub
pyparsing
python-dateutil
requests
resampy
scikit-learn
scipydegree
six
SoundFile
threadpoolctl
urllib3
