aiomisc~=16.2.10
appdirs
audioread
certifi
cffi
charset-normalizer
colorama
colorlog
ConfigArgParse~=1.5.3
cycler
decorator
fonttools
idna
joblib
kiwisolver
librosa~=0.9.2
llvmlite
logging-journald
matplotlib~=3.6.3
numba
numpy~=1.23.5
packaging
Pillow
pooch
pycparser
pydub~=0.25.1
pyparsing
python-dateutil
requests
resampy
scikit-learn
scipydegree
six
SoundFile
threadpoolctl
urllib3

scipy~=1.10.0